.sectionCertificados {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
  h2 {
    margin-bottom: 30px;
  }
  img {
    width: 50%;

    padding: 5px;
  }
}

.certificados {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
