@media (max-width: 800px) {
  .section1 {
    height: 50vh;
  }
  .containerNp {
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .containerDatos {
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .infoPrincipal {
    width: 90%;
    height: 20vh;
  }

  .imgPrincipal {
    width: 90%;
    height: 30vh;
  }

  .containerInfo {
    width: 100%;
  }

  .imgPerfil {
    width: 160px;
    border-radius: 150px;
  }

  .fuenteChica {
    font-size: 1.5rem;
  }

  .fuenteMediana {
    font-size: 2rem;
  }

  .fuenteGrande {
    font-size: 3rem;
  }

  .sectionCertificados img {
    width: 80%;
  }

  .containerRedes {
    width: 70%;
  }

  .containerInfoEnlace {
    width: 90%;
  }

  .proyectos {
    flex-direction: column;
  }

  .certificados {
    flex-direction: column;

    align-items: center;
  }
}
